.egnyte-branding {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #333 url('./egnyte-developers-logo4.png') no-repeat left;
    padding-left: 350px;
    z-index:2;
}

.nav a {
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    text-decoration: none;
    margin-left: 15px; 
}

.nav {
    line-height: 60px;
    vertical-align: middle;
}

body {
    padding-top: 80px;
}

#table-of-contents+table * {
    border: none;
    background: none;
}

.markdown-body img {
    float: left;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 10px 10px;
}

article {
    margin-bottom: 30px;
}


h1, h2, h3, h4, h5, h6 {
    clear: both;
}

body[data-title~="Cook"] .back-to-main {
    display:none;
}
